In [7]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
import json
import datetime


from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.cluster import AgglomerativeClustering
#import scipy.cluster.hierarchy as sch

#import April12.ipynb
#%store -r icd_grouped 
import statsmodels.api as sm
from patsy import dmatrices 

# model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LassoCV

import seaborn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [8]:
df= pd.read_csv('diagnose_merged.csv')
df.head()

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,0,2,163353,1.0,V3001,Single lb in-hosp w cs,"Single liveborn, born in hospital, delivered b..."
1,1,2,163353,2.0,V053,Need prphyl vc vrl hepat,Need for prophylactic vaccination and inoculat...
2,2,2,163353,3.0,V290,NB obsrv suspct infect,Observation for suspected infectious condition
3,3,3,145834,9.0,2639,Protein-cal malnutr NOS,Unspecified protein-calorie malnutrition
4,4,3,145834,7.0,6826,Cellulitis of leg,"Cellulitis and abscess of leg, except foot"

In [21]:
df.tail()

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE
651042,651042,99999,113369,4.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...
651043,651043,99999,113369,2.0,7861,Stridor,Stridor
651044,651044,99999,113369,5.0,4139,Angina pectoris NEC/NOS,Other and unspecified angina pectoris
651045,651045,99999,113369,3.0,4019,Hypertension NOS,Unspecified essential hypertension
651046,651046,99999,113369,1.0,75612,Spondylolisthesis,Spondylolisthesis

In [13]:
df.loc[df['ICD9_CODE']==53909]

Empty DataFrame
Columns: [Unnamed: 0, SUBJECT_ID, HADM_ID, SEQ_NUM, ICD9_CODE, SHORT_TITLE, LONG_TITLE]
Index: []

In [ ]:
df = df.astype({'ELECTIVE': int,

In [22]:
df2= pd.read_csv('D_ICD_DIAGNOSES.csv')
df2.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [23]:
df2.dtypes

ROW_ID          int64
ICD9_CODE      object
SHORT_TITLE    object
LONG_TITLE     object
dtype: object

In [18]:
df2.loc[df2['ICD9_CODE']=='53901']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
6130,6134,53901,Inf d/t gastrc band proc,Infection due to gastric band procedure

In [20]:
df2.loc[df2['ICD9_CODE']=='05310']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
514,565,05310,H zoster nerv syst NOS,Herpes zoster with unspecified nervous system ...

In [24]:
df2.loc[df2['ICD9_CODE']=='2355']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
1714,1717,2355,Unc behav neo GI NEC,Neoplasm of uncertain behavior of other and un...