## Code for Linear Regression and Decision Tree

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from datetime import timezone, datetime
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import LabelEncoder
#from sklearn.compose import ColumnTransformer 
import datetime as dt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import classification_report, confusion_matrix

### Importing Dataset
hingek10.csv and hingek20.csv are the training results of the low rank model of clustering the patients' information. Diabetes_Numerical.csv is the dataset used for training linear regression and decision tree models.

In [2]:
hinge10 = pd.read_csv('../data/hingek10.csv')
#hinge20 = pd.read_csv('../data/hingek20.csv')
origin20 = pd.read_csv('../data/GLRMk20.csv')
origin5 = pd.read_csv('../data/GLRMk5.csv')
df_pat = pd.read_csv('../data/Diabetes_Numerical.csv')

hinge7 = pd.read_csv('../data/hingek7.csv')
param7 = pd.read_csv('../data/hingeparam7.csv')

In [3]:
hinge7

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x10301,x10302,x10303,x10304,x10305,x10306,x10307,x10308,x10309,x10310
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [4]:
param7

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x10301,x10302,x10303,x10304,x10305,x10306,x10307,x10308,x10309,x10310
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_pat.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ORDINAL_AGE,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,...,NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,HISPANIC/LATINO - CENTRAL AMERICAN (OTHER),ASIAN - JAPANESE,ASIAN - THAI,HISPANIC/LATINO - HONDURAN,HISPANIC/LATINO - CUBAN,MIDDLE EASTERN,ASIAN - OTHER,HISPANIC/LATINO - MEXICAN,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE
0,13,3.6660,1,4,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,18,1.2885,1,6,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20,1.0508,1,8,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,21,14.2664,2,9,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,24,0.5124,1,4,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_pat['LOS']

## Function for regression training

In [6]:
def train_LR(X_train, X_test, y_train, y_test, i):
    # create training and testing vars
    #X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
    print(X_train.shape, y_train.shape)
    print(X_test.shape, y_test.shape)
    lm = LinearRegression()
    model = lm.fit(X_train, y_train)
    y_pred = lm.predict(X_test)
    print("Score:", MSE(y_pred, y_test), '\n')
    #print(confusion_matrix(y_test, y_pred))
    #print(classification_report(y_test, y_pred))

In [7]:
def train_DT(X_train, X_test, y_train, y_test, i):
    # create training and testing vars
    print(X_train.shape, y_train.shape)
    print(X_test.shape, y_test.shape)
    dt = DecisionTreeRegressor()
    model = dt.fit(X_train, y_train)
    y_pred = dt.predict(X_test)
    print("Score:", MSE(y_pred, y_test), '\n')
    #print(confusion_matrix(y_test, y_pred))
    #print(classification_report(y_test, y_pred))

In [10]:
def trainModel(df_clus, df_pat, size):
    df_clus = df_clus.transpose()
    
    # get the clusters
    clusters = []
    for i in range(size):
        this_cluster = df_clus[df_clus[i] == 1]
        clusters.append(this_cluster)
    
    # get the index
    cluster = []
    for i in range(size):
        this_cluster = list(map(lambda x: int(x[1:]) - 1, list(clusters[i].index)))
        cluster.append(this_cluster)
        
    # split the patient dataframe
    pat_clustered = []
    for i in range(size):
        this_clu = df_pat[df_pat.index.isin(cluster[i])]
        pat_clustered.append(this_clu)
    for i in range(size):
        this_c = pat_clustered[i]
        if (len(this_c) > 0):
            this_df = this_c.iloc[:, 1:]
            y = this_df.LOS
            X = this_df.iloc[:, 1:]
            X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
            print('\n Cluster '+ str(i+1)+ ': \n')
            print('Linear Regression: ')
            train_LR(X_train, X_test, y_train, y_test, i)
            print('Decission Tree: ')
            train_DT(X_train, X_test, y_train, y_test, i)
        else:
            print('Cluster'+ str(i+1)+ ' is empty. \n')

## Model Output

In [11]:
trainModel(param7, df_pat, 7)

 Cluster 1:

Linear Regression:
(1092, 919) (1092,)
(365, 919) (365,)
Score: 9.684120703832874e+22

Decission Tree:
(1092, 919) (1092,)
(365, 919) (365,)
Score: 106.80241063663016


 Cluster 2:

Linear Regression:
(1136, 919) (1136,)
(379, 919) (379,)
Score: 1.4290297392788597e+23

Decission Tree:
(1136, 919) (1136,)
(379, 919) (379,)
Score: 159.01657340596307


 Cluster 3:

Linear Regression:
(1071, 919) (1071,)
(357, 919) (357,)
Score: 4.3000862502117693e+18

Decission Tree:
(1071, 919) (1071,)
(357, 919) (357,)
Score: 71.05300586478992


 Cluster 4:

Linear Regression:
(1095, 919) (1095,)
(366, 919) (366,)
Score: 2.104609429800021e+23

Decission Tree:
(1095, 919) (1095,)
(366, 919) (366,)
Score: 111.75168416090165


 Cluster 5:

Linear Regression:
(1131, 919) (1131,)
(378, 919) (378,)
Score: 1.095209725389038e+23

Decission Tree:
(1131, 919) (1131,)
(378, 919) (378,)
Score: 87.03971265497354


 Cluster 6:

Linear Regression:
(1097, 919) (1097,)
(366, 919) (366,)
Score: 2.4346541161104387e+23

Decission Tree:
(1097, 919) (1097,)
(366, 919) (366,)
Score: 115.43360837675544


 Cluster 7:

Linear Regression:
(1107, 919) (1107,)
(370, 919) (370,)
Score: 8.761709214661763e+21

Decission Tree:
(1107, 919) (1107,)
(370, 919) (370,)
Score: 80.0803749678108

In [12]:
trainModel(hinge7, df_pat, 7)

 Cluster 1:

Linear Regression:
(1092, 919) (1092,)
(365, 919) (365,)
Score: 1.136602779593908e+21

Decission Tree:
(1092, 919) (1092,)
(365, 919) (365,)
Score: 84.40449772545891


 Cluster 2:

Linear Regression:
(1146, 919) (1146,)
(383, 919) (383,)
Score: 3.526029684092915e+21

Decission Tree:
(1146, 919) (1146,)
(383, 919) (383,)
Score: 86.38134753720627


 Cluster 3:

Linear Regression:
(1133, 919) (1133,)
(378, 919) (378,)
Score: 1.6628218569745804e+23

Decission Tree:
(1133, 919) (1133,)
(378, 919) (378,)
Score: 148.0854840659524


 Cluster 4:

Linear Regression:
(1215, 919) (1215,)
(405, 919) (405,)
Score: 1.2836857641246973e+23

Decission Tree:
(1215, 919) (1215,)
(405, 919) (405,)
Score: 107.13507809886418


 Cluster 5:

Linear Regression:
(1031, 919) (1031,)
(344, 919) (344,)
Score: 5.133310264205058e+20

Decission Tree:
(1031, 919) (1031,)
(344, 919) (344,)
Score: 105.15215899887353


 Cluster 6:

Linear Regression:
(1139, 919) (1139,)
(380, 919) (380,)
Score: 1.3429185196240685e+23

Decission Tree:
(1139, 919) (1139,)
(380, 919) (380,)
Score: 122.92611282185527


 Cluster 7:

Linear Regression:
(974, 919) (974,)
(325, 919) (325,)
Score: 4.892796193581021e+22

Decission Tree:
(974, 919) (974,)
(325, 919) (325,)
Score: 113.3866040739692

In [ ]:
trainModel(hinge20, df_pat, 20)

In [ ]:
trainModel(hinge10, df_pat, 10)

In [ ]:
trainModel(origin20, df_pat, 20)

In [ ]:
trainModel(origin5, df_pat, 5)